@using SenMuhendislerSitesi.Domain.ViewModels.SiteViewModels
@model List<GuncelYonetimKuruluViewModel>
<br /><br /><br />

<div style="margin-left:200px;">
    <div class="col-md-7">
        <h4>Sitemizin Yönetim Kurulu</h4>
    </div>
   
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="gallery">


                <hr />

                <div class="gallery-images">
                    <h4></h4>
                    <div class="gallery-single-image gallery-filter-decor gallery-filter-living">
                        <img src="/assets/_assets/_img/senmuh.png" class="image-data-for-parent" alt="Spacious and tasteful room" />
                    </div>
                    <div class="gallery-single-image gallery-filter-interior gallery-filter-decor gallery-filter-living gallery-filter-dining">
                        <img src="/assets/_assets/_img/senmuh.png" class="image-data-for-parent" alt="Room in the apartment" />
                    </div>
                    <div class="gallery-single-image gallery-filter-building gallery-filter-living gallery-filter-dining">
                        <img src="/assets/_assets/_img/senmuh.png" class="image-data-for-parent" alt="Spacious living room" />
                    </div>
                    <div class="gallery-single-image gallery-filter-interior gallery-filter-decor gallery-filter-living gallery-filter-dining">
                        <img src="~/assets/_assets/_img/senmuh.png" class="image-data-for-parent" alt="Spacious contemporary living room" />
                    </div>
                    <div class="gallery-single-image gallery-filter-interior gallery-filter-building gallery-filter-decor">
                        <img src="~/assets/_assets/_img/senmuh.png" class="image-data-for-parent" alt="Luxurious and spacious living room" />
                    </div>
                    <div class="gallery-single-image gallery-filter-interior gallery-filter-building">
                        <img src="~/assets/_assets/_img/senmuh.png" class="image-data-for-parent" alt="Swimming pool in modern house" />
                    </div>
                    <div class="gallery-single-image gallery-filter-decor">
                        <img src="~/assets/_assets/_img/senmuh.png" class="image-data-for-parent" alt="Place where you can relax" />
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>