@using SenMuhendislerSitesi.Domain.ViewModels.SiteViewModels
@model HakkimizdaViewModel
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <section class="contact-agent contact-agent-gray">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="agent-box">
                                            <div class="agent-box-image">
                                                <img src="_assets/_img/image.png" class="image-data-for-parent" alt="Businesswoman" />
                                            </div>
                                            <div style="margin-right: 100px;">
                                                
                                                <h2> &nbsp;&nbsp;&nbsp;&nbsp; Şen Mühendisler &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sitesi</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <h2>Sitemiz Hakkında</h2>
                                        <p><strong>Haftalık Çöp Toplama Günleri ve Saatleri</strong> : Pazartesi,Salı,Çarşamba,Perşembe,Cumartesi Saat 18:00</p>
                                        <p><strong>Genel Kurul Toplantıları :</strong> </p>
                                        <p>asfasfasf</p>
                                        <span class="four-attributes">
                                            <span class="attribute">
                                                <span class="value">9</span>
                                                <span class="title">BLOK</span>
                                            </span>
                                            <span class="attribute">
                                                <span class="value">90</span>
                                                <span class="title">Daire</span>
                                            </span>
                                            <span class="attribute">
                                                <span class="value">2</span>
                                                <span class="title">Otopark</span>
                                            </span>
                                            <span class="attribute">
                                                <span class="value">1</span>
                                                <span class="title">Oyun Parkı</span>
                                            </span>
                                        </span>
                                        <p><button type="button" class="button" data-action="show-form-popup"><span>İletişim Kur</span></button></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
          </div>
